*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.container{
    height: 100vh;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    
    display: flex;
    flex-direction: column;
     height: 80%;
     width: 28%;
     /* border: 2px solid black; */
}

img{
    height: 100%;
    width: 100%;
    
}
.inner-box1{

    border: 1px solid black;
    height: 70%;
    /* border: 2px solid red; */
}

.b1{
    height: 23%;
    
}
 .b1 img{
    height: 100%;
 }
 .b2{
    height: 45%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }

 input{
     height: 20%;
     width: 85%;
     background-color: whitesmoke;
 }

 .b3{
  
    height: 31%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.b3 .hr{
   width: 100%;
   height: 30px;
   /* border: 2px solid red; */
   display: flex;
   align-items: center;
   justify-content: center;
}
  
.hr hr{
    width: 40%;
    margin-bottom: 30px;
}
.p{
    margin-bottom: 30px;
}
   .aa{
    font-family: sans-serif;
    width: 50%;
   display: flex;
   justify-content: space-evenly;

   }
   .aa1{
    font-family: sans-serif;
    align-items: center;
    width: 50%;
   display: flex;
   justify-content: center;
   text-decoration: none;
   margin-top: 10px;
   }


 button{
    height:20%;
    width: 85%;
    background-color: blue;
    border-radius: 15px;
    /* border: 2px solid aqua; */
    border: none;
}
 
.inner-box2{
    margin-top: 10px;
    height: 10%;
    border: 1px solid black;
    font-family: sans-serif;
}

.inner-box2 h5{
      margin-left: 80px;
      margin-top: 15px;
      
}
.inner-box3{
    height: 18.5%;
    /* border: 2px solid red; */
  
}

.inner-box3 h5{
    text-align: center;
    /* width: 100%; */
    margin-top: 5px;
    font-family: sans-serif;
}

.get{
    /* border: 3px solid green; */
    width: 100%;
    height:30%;
}
.image{
    /* border: 3px solid purple; */
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    img{
        width: 40%;
    }
    .first{
        height:90%;
    }
}

.text{
    display:flex;
    position: absolute;
    bottom: 0px;
    list-style: none;
    justify-content: space-between;
    width: 70%;
}