*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contaner{
    display: flex;
    justify-content: center;
    height: 200px;
    position: relative;
}
.div1{
  
    background-color: greenyellow;
    border: 0px;
    border-radius: 60px 30px;
    height: 60px;
    align-items: center;
    width: 80%;
    display: flex;
    margin-top: 0px;
i{
        margin-left: 30px;
        color: orange;
    }
}
h4{
     color:white;
      margin-left: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}
.h4{
    padding-left: 30%;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.header_c{
    display: flex;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 150px;
    top :100px;
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(123, 198, 11);
        font-weight: bold;
        font-size: 40px;
        display: flex; 
        align-items: self-start;
    }
  
    .text{
        display:flex;
        list-style: none; 
        justify-content: space-evenly;
        width: 45%;
        font-size:20px;
        margin-left: 20%;
        font-family: sans-serif; 
        color: gray;
        
    }

    .search{
        margin-left: 15%;
         display: flex;
          height: 47px;
          width: 55px;
          border: 1px solid orange;
          border-radius: 50%;
         padding-top: 13px;
         padding-left: 12px;
         i{
             color: greenyellow;
            font-weight: bolder;
            font-size: larger;
         }
    }

    .bage{
        margin-left: 35px;
        color: greenyellow;
    }
    .profile{

        color: greenyellow;
        margin-left: 35px;
    }
  
}

.container2{
 display: flex;
 width: 100%;
height: 550px;
background-image: url("https://themewagon.github.io/fruitables/img/hero-img.jpg");
/* border: 2px solid black; */

}
.con-header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* border:  1px solid black; */
    h2{
        color: orange;
        font-family: sans-serif;
        margin-bottom: 10px;
        margin-right: 270px;
        

    }
    h1{
        color: rgb(123, 198, 11);
        font-size: 70px;
        font-family: sans-serif;
        margin-left: 120px;
        margin-bottom: 60px;
    }
    input{
        height: 100%;
        width: 70%;
        border-radius: 50px;
        font-size: larger;
        padding-left: 10%;
        border: none;
        /* border:1px solid red; */
        /* color: greenyellow; */
    }
    
    .button{
        border: 1px solid black;
        height: 60px;
        width: 70%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50px;
       /* color: greenyellow; */
    }
    .submit{
        background-color: greenyellow;
        color: white;
        border:none;
        height: 100%;
        width: 30%;
        font-size: 20px;
        border-radius: 50px;
    }
}
.con-header2{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;


    .inner-head{
        height: 300px;
        width: 70%;
        border: 1px solid red;
        margin-right: 15%;
        border-radius: 10px;
    }
   
    
    img{
        height: 100%;
        width: 100%;
        background-color: orange;
        border-radius: 10px;
    }
}
.container3{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

   .container3-mini{

     width: 90%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    }
}
.shoping{

    height: 300px;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .div-shop{
        height: 70%;
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
    .shoping-div{
        height: 70px;
        width: 100%;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5{
            font-size: 21px;
            color: black;
            margin-bottom: 10px;
        }
        p{
            color: gray;
            font-size: 19px;
        }
    }

    .free{
        height: 140px;
        width: 140px;
        border: 1px solid orange;
        border-radius: 80px;
        background-color: #ffb524;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f4f6f8;
    }

}

.container4{
    /* height: 170 */
    width: 100%;
    /* border: 2px solid black;  */

    .our-product{

        height: 12%;
         width: 100%;
         /* border: 1px solid black; */
         display:flex ;
         justify-content: center;

        }
    .product{

        height: 100%;
        width: 25%;
        /* border: 2px solid #000000; */
        font-size: 40px;
         /* display: flex;
        justify-content: center;
        align-items: center; */
        font-family: sans-serif; 
        color: black;
        p{
            
            margin-top: 50px;
        }
    }
    .product-contain{
        width: 55%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid red; */

        button{
            /* display: flex;
            justify-content: center;
            text-align: center; */
            height: 30%;
            width: 15%;;
            padding: 10px; 
            font-size: 17px;
            border-radius: 20px;
            background-color: #ffb524;
            margin-top: 40px;
        }
}
}
.fruits{
     height: 85%;
     width: 85%;
     margin-left: 100px;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     align-items: center;

}
.card{
   
  height: 420px;
  width: 280px;
  border: 2px solid yellow;
 justify-content: space-evenly;
 border-radius: 7px;
 position: relative;
 margin: 10px 10px;
}

.card1{
    height: 50%;
    width: 100%;
    /* border: 1px solid greenyellow; */
    border-radius: 7px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        border-radius: 7px;
        
    }
    img:hover {
        
        
        transform: scale(1.2);
        transition: 0.5s;
        box-sizing: border-box;
        }
      }
  

.card2{
    height: 50%;
    width: 100%;
    /* border: 1px solid greenyellow; */
    border-radius: 7px;

   
}
.cart:hover {
     background-color: #FFB524;
     color: #fff;
     transition: 0.5s;
}

.grap{
    text-align: center;
      font-size:28px;
      font-family:  sans-serif;
     color: gray;
     margin-top: 12px;
}
.lorem{

     font-size: large;
     text-align: center;
     margin-top: 5px;

}
.kg{
    margin-top: 10px;
    font-family: unset;
    margin-left: 22px;
    flex-direction: row;
    /* border: 1px solid yellow; */
}
.cart{
    height: 40px;
    width: 70%;
     font-size: larger;
     border-radius: 20px;
     

     color: rgb(123, 198, 11);
a{
    font-style: none;
    color: rgb(123, 198, 11);
}
  
}
.grapes{
    font-family: sans-serif;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #ffb524;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container5{

    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container5-inner1{
        padding-top: 60px;
        padding-bottom: 50px;
        width: 82%;
        margin-right: 25px;
        display: flex;
        flex-wrap: wrap;
    
     justify-content: space-evenly;
     align-items: center;
    }
    .Apple{
      
        height: 500px;
        width:400px ;
        border-radius: 10px;
    }

    }
    #apple{
        background-color:#fff;;
    }
    #apple1{
        background-color: #ffc107;
    }
    #apple2{
        background-color:  rgb(123, 198, 11);
    }
    
    .fresh-apple{
        height: 150px;
        width: 300px;
        border: 2px solid black;
        background-color: green;
        position:relative;
        bottom: 22%;
        left:12%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .free1{
        font-size: 30px;
    }
    .off{
        font-size: 30px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .off1{
        font-size: 33px;
        font-weight: bold;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .off2{
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;    }

  .free2{
      font-size: 30px;
      color: #81C408;
  }
    
  .free3{
    font-size: 25px;
    color: white;
    font-family: sans-serif;
  }
    .strawberry{

        height: 500px;
        width:400px ;
        /* border: 2px solid #45595B;; */
        /* border-radius: 10px; */
    }
    .broccli{
        height: 500px;
        width:400px ;
        
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .apple-inner{
        height: 65%;
        width: 100%;
        border: 2px solid #ffc107;
        border-top-right-radius:  10px;
        border-top-left-radius:  10px;
        /* border-radius: 10px; */
    }

    .apple-inner2{
        height: 35%;
        width: 100%;
        border-bottom-right-radius:  10px;
        border-bottom-left-radius:  10px;
        background-color:  #ffc107;
    }



    .strawberry-inner{
        height: 65%;
        width: 100%;
         border: 2px solid  #45595B;
         border-top-right-radius:  10px;
         border-top-left-radius:  10px;
    }

    .strawberry-inner2{
        height: 35%;
        width: 100%;
        border-bottom-right-radius:  10px;
        border-bottom-left-radius:  10px;
        background-color: #45595B;
    }

    .broccli-inner{
        height: 65%;
        width: 100%;
        border: 2px solid #81C408;
        border-top-right-radius:  10px;
        border-top-left-radius:  10px;
    }

    .broccli-inner2{
        height: 35%;
        width: 100%;
        border-bottom-right-radius:  10px;
        border-bottom-left-radius:  10px;
        background-color: #81C408;
    }
   

.container6{
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 170px;


    .organic{
    
        font-size: 42px;
        margin-left: 160px;
       font-family: sans-serif;
       font-weight: 500;
       color: gray;
       
    }

    .vegitables{
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }
    .vegies{
        height: 500px;
        width: 290px;
        border: 2px solid greenyellow;
        margin: 20px;
        border-radius: 5px;
        justify-content: space-evenly;
        border-radius: 7px;
        position: relative;
        margin: 10px 10px;

       
    }
  
    .vegies-inner1{
        height: 40%;
        width: 100%;
        position: relative;
    }
   .div-vegitable{
    font-family: sans-serif;
    height: 38px;
    font-size: large;
    width: 120px;
    border-radius: 10px;
    background-color:#81c408;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .bell-paper{
     font-size: 25px;
     color: black;
     font-family: sans-serif;
     font-weight: 600;
     padding-left: 17px ;
     padding-top: 15px;
   }
   .pharagraph-bell{
    font-size: 20px;
    margin-left: 25px;
    padding-top: 20px;
    color: grey;  
    font-family: sans-serif;    
   }
   .pharagraph-dollar{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    margin-top: 20px;
   }
   .button2{
    height: 40px;
    width: 170px;
    font-size: large;
    font-family: sans-serif;
    border-radius: 20px;
    border-color: #ffb524;
    margin-left: 25px;
    margin-top: 10px;
   }
}

.container7{
 height: 100vh;
 width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFB524;
}
.container7-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    flex-wrap: wrap;
   margin: 20px;
}


.container7-child1{
    height:550px ;
    width: 610px;
    /* border: 1px solid blue; */
    
    .fresh-exotic{
        margin-top: 90px;
        font-weight: 750;
        color: #fff;
        font-size: 65px;
        width: 70%;
        font-family: sans-serif;
    }
    .our-store{

        margin-top: 5px;
        color:  #45595b;
        font-size: 70px;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .lorem{
        font-family: sans-serif;
        font-size: large;
        color: #45595b;
        text-align: start;
        margin-top: 20px;
    }
    button{
        border-radius: 40px;
        height: 60px;
        color: #45595b;
        width: 150px;
        font-size: larger;
        background-color: #ffb524;
        border: 2px solid white;
        margin-top: 30px;

    }
}

.container7-child2{
        height:550px ;
        width: 610px;
        /* border: 1px solid blue; */
        position: relative;  

       .one-dollar{
           top: 8px;
           left: 7px;
           height: 150px;
           width: 150px;
           /* border: 1px solid black; */
           background-color: #fff;
           border-radius: 75px;
           position: absolute;
       } 
       #one{
        padding-top: 25px;
        padding-left: 15px;
       }

       .spantage{
        font-family: sans-serif;
        font-weight: 600;
        color:#45595b;
        position: absolute;
        font-size: 32px;
        top: 45px;
        right: 30px;
       }
       .spantage1{
        font-family: sans-serif;
        font-weight: 400;
        color:#45595b;
        position: absolute;
        font-size: 25px;
        top: 85px;
        right: 48px;
    }
}

/* ============================================== */

.container8{
     width: 100%;
     /* border: 2px solid black; */
     padding-top: 200px;

}
.bestseller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.best{
   
    /* background-color: #ffb524; */
    color:#45595b;
    font-weight: 780;
    font-size:60px;
    font-family: sans-serif;
}
.lorem-of-best{
    font-size: larger;
    font-family: sans-serif;
    color: #45595B;
    padding-top: 5px;
}

.organic-food{
    background-color: #f4f6f8;
     height: 270px;
     width: 400px;
     /* border: 2px solid wheat; */
     margin: 10px 10px;
     border-radius: 15px;
     display: flex;

}
.container8-child{
    margin-top: 30px;
    /* border: 2px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
   
}
.food1{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.food2{
    height: 100%;
    width: 50%;
    /* border: 1px solid yellow; */
    border-radius: 10px;
    }
.organic-tomato{
   
    width: 70px;
    padding-top: 20px;
    color: #45595b;
    font-size: 20px;
    font-family: sans-serif;
    /* background-color: #81C408; */
}
.star{
    display: flex;
    height: 20px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 20px;
}
.button3{
    height: 60px;
    width: 130px;
border-radius: 50px;
margin-top: 30px;
margin-left: 30px;
 border-color: #FFB524;
}

.container9{
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container9-inner{
    width:90%;
    
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   

}
.mini-fruits{
    margin: 10px 10px;
    height: 400px;
    width: 300px;
    border: 1px solid yellow;
    border-radius: 10px;
}
.mini-inner1{
    height: 50%;
    width: 100%;
    border: 1px solid yellow;
    border-radius: 10px;

}